:root {
  --main-color: #008000;
  --compliment-color: #FF4500
}


.flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%; /* Adjust the width as needed */
  margin-left: 20%
}

.displayRecipe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%; /* Adjust the width as needed */
  margin-top: 10%; /* Adjust the margin-top to move it down */
}


/* Apply changes for smaller screens */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
    
  }

  .center-container, .displayRecipe {
    width: 100%; /* Take up full width on smaller screens */
    margin-top: 10%; /* Adjust margin-top for spacing */
    align-items: center;

  }
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

  .header{
      color:#800080
  }
  .headerCompliment
  {
      color:#800000;
      font-weight: bold;
  }
  .container {
      display: flex;
      flex-direction: column;
    }

  .form {
      font-size: 24px;
      display: flex;
      flex-direction: column;
      width: 300px;
      margin: 20px auto;
  }
    
    label {
      margin-bottom: 5px;
    }
    
    input[type="text"] {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-top: 20px;
    }
    
    input[type="text"]:focus {
      border-color: #008000; /* Change the border color when focused */
    }
  .alignCenter
  {
      text-align: center;
  }

  /* styles.css */

body {
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #008000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #006400;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.button-container {
text-align: center;
margin-top: 20px;
}

.alignCenter
  {
      text-align: center;
  }

.iLMargin{
    margin-bottom: 10px;
}
.buttonMargin{
    margin-top :40px;
}