:root {
    --main-color: #008000;
    --compliment-color: #FF4500
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

    .header{
        color:#800080
    }
    .headerCompliment
    {
        color:#800000;
        font-weight: bold;
    }
    .container {
        display: flex;
        flex-direction: column;
      }

    .form {
        font-size: 24px;
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 20px auto;
    }
      
      label {
        margin-bottom: 5px;
      }
      
      input[type="text"] {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 20px;
      }
      
      input[type="text"]:focus {
        border-color: #008000; /* Change the border color when focused */
      }
    .alignCenter
    {
        text-align: center;
    }