.flex-container-CR{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

.flex-container-CR > div{
  min-width: 50%;
  
}
.centerButtonCR {
    /* Center the button */
    align-self: center; /* Vertically center the button */
    margin-top: auto; /* Move the button to the middle of the flex box */
    text-align: center;
    margin: 5px;
  }

.recipeItem{
    border: 2px solid #000;
    margin: 15px; 
}

.recipeTitle{
    text-align: center;
}

button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #008000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }
.recipeSteps{
    text-align: center;
    align-items: center;
}

.recipeIngredients{
    text-align: center;
}

.flexNotes{
    flex:center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    text-align: center;
}

.showNotesPopUp {
    position: absolute;
    top: 50%; /* Vertically center the box */
    left: 50%; /* Horizontally center the box */
    transform: translate(-50%, -50%); /* Center the box using a transform */
    width: 70%; /* Adjust this to the desired width for the pop-up content */
    max-height: 100%; /* Adjust this to the desired maximum height for the pop-up content */
    overflow-y: auto; /* Add vertical scroll when content exceeds the maximum height */
    background-color: #dcf5da; /* Background color for the pop-up */
    padding: 20px;
    border: 5px solid #ccc;
    z-index: 100; /* Set a high z-index to ensure it's on top of everything else */
  }
  

  .showNotesPopUpContext {
    position: relative;
    background-color: #dcf5da; /* Background color for the pop-up */
    padding: 20px;
    z-index: 101; /* Higher z-index to ensure it's above the overlay */
    margin:10px;
  }

.notesTextArea{
    border: 1px solid #752f2f;
}

.notesButtons{
    margin:10px;
}

textarea{
    border: none; /* Remove the border */
  padding: 10px; /* Add padding for spacing within the textarea */
  background-color: #f0f0f0; /* Background color (you can change this) */
  font-size: 14px; /* Font size (you can change this) */
  resize: none; /* Disable resizing of the textarea */
  outline: none; /* Remove the default focus outline (you may want to add a custom focus style) */
  margin:10px;
  /* Add other styles as needed */
}

.divDisplay{
  width: 50%;
}

.textareaSteps{
  user-select: none;
  color: #000;
  min-width: 70%;
  min-height: 70%;
  border: none; /* Remove the border */
padding: 10px; /* Add padding for spacing within the textarea */
background-color: white; /* Background color (you can change this) */
font-size: 14px; /* Font size (you can change this) */
resize: none; /* Disable resizing of the textarea */
outline: none; /* Remove the default focus outline (you may want to add a custom focus style) */
/* Add other styles as needed */
}
  

