/* Navbar styles */
:root {
    --main-color: #008000;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    color: white;
    padding: 10px;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-nav li {
    margin-left: 10px;
  }
  
  .navbar-nav li:first-child {
    margin-left: 0;
  }
  
  .navbar-nav li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    color: white;
    font-size: 36px; /* Adjust the font size as needed */
    text-decoration: none;
  }
  
  .create-recipe-dropdown {
    position: relative;
}

.create-recipe-link:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.dropdown-content span {
    display: block;
}

.dropdown-content span:hover {
    background-color: #ddd;
}
.noDecoration{
  text-decoration: none;
  color: white;
  text-align: left;
}