/* Navbar styles */
:root {
    --main-color: #008000;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    color: white;
    padding: 10px;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-nav li {
    margin-left: 10px;
  }
  
  .navbar-nav li:first-child {
    margin-left: 0;
  }
  
  .navbar-nav li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    color: white;
    font-size: 36px; /* Adjust the font size as needed */
    text-decoration: none;
  }
  